<% @products.each do |product| %>
	<h1><%= product.title %></h1>
	<p><%= product.body_html %></p>
	<p>Sold by : <strong><%= product.vendor %></strong></p>
<% end %>

<br>

<input type="button" name="answer" value="Livraison à vélo" id="btn">

<div id="bikeForm" style="display:none;">
    <div class="bikeDeliveryForm">
      <label for="postcode">Enter your postcode : </label>
      <input type="text" name="address" id="address" required>
    </div>
    <div class="bikeDeliverySubmit">
      <a href="">Validate</a>
    </div>
</div>

<h1>The answer is : <%= @answer %></h1>
<h2>Time Slots</h2>
<p><%= @jsonDeliverySlots %></p>

<%= console %>
